/.vscode
/2908.py
/2gis with selenium.py
/2gis.py
/4_10_last_maybe.py
/5_10_number_10.py
/5_7_selenium_last.py
/5_8_last.py
/async.py
/config.py
/csv_last.py
/csv_with_defS.py
/data.txt
/Docker-compose.yml
/Dockerfile
/fds.py
/first asyncio.py
/for Evgeny.py
/for_evgeny.csv
/for_Evgeny_new.csv
/fr_18.csv
/fr_18.py
/fr_18.txt
/functions1.py
/funn.py
/ghjdthrf.py
/hh.py
/import pandas as pd.py
/interesny_kod_drugogo_chuvaka_po_last_json.py
/jsoooon.py
/ksfreelance with 2 new libr.py
/ksfreelance.csv
/ksfreelance.json
/kuki_last.py
/my.session
/my_first_project.py
/new fr for ks.py
/new try freelance with functions.py
/new try freelance.py
/new_ksfreelance.csv
/ozonfr.csv
/parsing_with_pagination.py
/parsing_with_pagination_part_2.py
/pathes.py
/photo_stepik
/proxy.txt
/proxy_auth_plugin.js
/save in data base first try.py
/selenium_5_5_number_5.py
/selenium_5_7_number_12.py
/selenium_5_7_number_13.py
/session_name.session
/session_name_number2.session
/test_files
/tg first.py
/tgstats (2).py
/tg_oks.py
/video
/__pycache__